div.container{
	height: auto;
	min-height:1000px;
}
div.containers{
	height:400px;
	width:100%;
}
div.Header{
	width:100%;
	height:140px;
	background-image: url("banner.jpg");
   
}

div.Header_right{
	height:25%;
	width:100%;
}

div.Footer{
	width:100%;
	height:50px;
	background-color:#39464f;
}

.button{
    width: 70%;
    background-color:#3e6687;
    color: white;
    border:hidden;
    cursor: pointer;
	float:right;
	height:100%;
	border-bottom-left-radius: 6px;
}
.button1{
	border-radius:8px;
	height:40px;
	width:260px;
	float:left;
	border:hidden;
	margin-top: 2px;
}

.button2{
	border-radius:8px;
	height:40px;
	width:100%;
	float:left;
	border:hidden;
	
}

.button10{
	background-color:#42b3ff; 
	float:left;
	width:110px;
	font-size:15px;
	color:#ffffff;
	border-bottom-left-radius:0px;
	border:none;
}
.button10:hover{
	background-color:#42b3ff;
}

.button:hover {
    background-color: #42b3ff;
	border: hidden;
}
.button1:hover {
    background-color: #ff3636;
	border: hidden;
}
.button2:hover {
    background-color: #8dc63f;
	border: hidden;
}
.button3{
	background-color:Transparent;
	float:left;
	width:100px;
	font-size:15px;
	border-bottom-left-radius:0px;
	color:#ffffff;
}
.button3:hover {
	color:#ffffff;
}
.button4{
	float:left;
	width:100px;
	font-size:15px;
	border-bottom-left-radius:0px;
	color:#ffffff;
	background-color:  #42b3ff;
}

div.nav{
	width:100%;
	height:40px;
	background-color:#3e6687;
	border-bottom:3px solid #2ba9c4;
	margin-bottom: 20px;
}

div.container_body{
	width:100%;
	height:auto;
	min-height:800px;
	background-color:#ffffff;
}
div.container_bodys{
	width:100%;
	height:420px;
	background-color:#ffffff;
}
div.upper{
	height:375px;
}
div.upper_left{
	margin-top:46px;
	margin-right:23px;
	width:260px;
	height:300px;
	float:left;
}
div.upper_leftn{
	margin-top:46px;
	margin-right:23px;
	width:260px;
	height:300px;
	float:left;
}
div.upper_center{
	margin-top:46px;
	margin-right:23px;
	width:260px;
	height:300px;
	float:left;
}
div.upper_right{
	margin-top:46px;
	width:260px;
	height:300px;
	float:left;
	}
div.button_space{
	width:280px;
	height:40px;
	padding-left:1px;
	padding-right:1px;
	
}

div.Lower{
	width:100%;
	height:375px;
	padding:20px;
}

.button5{
	width:92px;
	height:30px;
	float:left;
	border-top-left-radius:8px;
	margin-top: 3px;
}
.button6{
	width:93px;
	height:30px;
	float:left;
	border-bottom-left-radius:0px;
	margin-top: 3px;
}
.button7{
	width:93px;
	height:30px;
	float:left;
	border-bottom-left-radius:0px;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	margin-top: 3px;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
	margin-top:4px;
    color:#000000;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
